.list-group:hover {
    background-color: #f16e00;
}
#searchAndRadio{
    float: right;
    position: absolute;
    right:0px;
    height:320px;
    /* border-color: #f16e00; */
    border-width: 1px;
    border-style: outset;
    background-color: white;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  .example-radio-button {
    margin: 5px;
  }

.example-spacer {
    flex: 1 1 auto;
  }
#searchbarId{
    float: right;
}
