<app-navbar></app-navbar>

<app-loading *ngIf="loading"></app-loading>

<div id="app-demande-en-attente-user">
    <div id="searchAndRadio" class="jumbotron animated fadeInDown">
        <mat-form-field id="searchbarId" appearance="outline" color="warn">
            <mat-label class="ml">Search</mat-label>
            <input matInput type="text" placeholder="Search" [(ngModel)]="motCle" (input)="Search()">
            <button mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="motCle">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedWord" class="example-radio-group">
            <mat-radio-button *ngFor="let word of words" [value]="word.value" class="example-radio-button" color="warn">
                {{word.viewValue}}</mat-radio-button>
        </mat-radio-group>

    </div>
    <div class="container">
        <div class="row">

            <table class="table table-hover mt-5 animated fadeInDown">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Objet</th>
                        <th scope="col">Status actuel</th>
                        <th scope="col">Date d'envoi</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row-{{demande.id}}" *ngFor="let demande of demandes; index as i"
                        (click)="openDetailDialog(demande)">
                        <th scope="row">{{demande.id}}</th>
                        <td>{{demande.objet}}</td>
                        <td>{{demande.status_demande}}</td>
                        <td>{{demande.date | date: "fullDate" }}</td>
                        <td><button class="btn-danger susbtn" (click)="suspendre(demande.id, $event)">Suspendre</button> | <button (click)="prolonger(demande.id, $event)" class="btn-info susbtn">Prolonger</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>